@import './variables.css';
@import './animations.css';

@import './sections/navbar.css';
@import './sections/hero.css';
/*@import './sections/footer.css';*/
@import './sections/home.css';
@import './sections/projects.css';
@import './sections/about.css';
@import './sections/impact.css';
@import './sections/donation.css';
@import './sections/contact.css';

@import './about/aboutHero.css';
@import './about/story.css';
@import './about/valueSection.css';
@import './about/team.css';
@import './about/timeLine.css';

@import './projects/projectsHero.css';
@import './projects/projectsPanels.css';
@import './projects/projectsDetail.css';
@import './projects/projectsParticipate.css';

@import './projects/campamentos/campHero.css';
@import './projects/campamentos/campAbout.css';


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}
html,
body{
  width:100%;
  overflow-x:hidden;
}

body{
  font-family:var(--font-body);
  background:white;
  color:var(--texto);
}

a{
  text-decoration:none;
  height:auto;
  color:inherit;
}

img{
  max-width:100%;
  display:block;
}

section{
  padding:6rem 5vw;
}

h1,h2,h3,h4,h5{

  font-family:var(--font-title);

}
